// Global styling for this template

body {
  @include body-font;
  padding-top: 0;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.main-body {
  padding-left: $sidebar-base-width;

  @media (max-width: 992px) {
    padding-left: 0;
  }
}

.internal-layout {

  @media (max-width: 900px) {
    max-width: 100%;
    padding: 0 10px;
  }

  &__content,
  &__footer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;


  }
}

.next-prev {
  display: inline-block;

  .prev {
    float: left;

    &__arrow {
      order: 0
    }

    &__title {
      order: 1
    }
  }

  .next {
    float: right;
  }

  .next {
    &__title {
      text-align: right;
    }
  }

  .prev,
  .next {
    display: flex;
    max-width: 50%;

    &:hover {
      text-decoration: none;
    }
    &__title {
      margin: 0 10px;
      line-height: 1;
      display: inline;
      font-size: 1.25em;

      @media (max-width: 600px) {
        font-size: 1em;
      }
    }

    &__arrow {
      align-self: center;
    }
  }
}

.internal-layout__footer {
  padding: 0 10px;
  margin-top: 25px;

  &-headshot-bio {
    display: flex
  }

  &-headshot {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }

  &-social {
    margin-top: 20px;

    .social-icons {
      display: flex;
      justify-content: center;
    }
  }
}
