.blog-post {
  padding: 0 20px 20px;
  &__title {
    font-size: 3em;
    line-height: 1.5;
  }

  &__date {
    font-style: italic;
  }
}

h1 {
  font-size: 3rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}