.experience {
  &__header-wrapper {
    margin-bottom: 3em;
  }

  &__header {
    margin-bottom: 0;
  }
}
.resume-item {

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title-company {
    margin-right: 10px;
  }

  &__bullets {
    padding-left: 15px;
  }

  &__date {
    margin-bottom: 16px;
  }
}
